@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1,
h2,
h3,
p,
ul {
	margin: 0;
    padding: 0;
	color: #ffffff;
	text-decoration: none;
}
	ul {
		list-style: none;
}
	li {
		display: inline;
	}
	a {
		text-decoration: none;
		color: #fff;
	}
	h1 {
		font-size: 70px;
		line-height: 60px;
		letter-spacing: 5px;
		font-weight: 700;
	}
	h2 {
		font-size: 30px;
		font-weight: 400;
	}
	h3 {
		font-weight: 400;
	}
	.fab {
		padding: 36px 0;
		font-size: 30px;
		width: 50px;
		text-align: center;
	  }
	  .fab:hover {
		opacity: 0.7;
	  }
	

body {
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
::-webkit-scrollbar {
	width: 3px;
	background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  }
  ::-webkit-scrollbar-thumb {
	background-color: #000000;
  }
  ::-webkit-scrollbar-thumb:hover {
	background:  #cabd00; 
  }

.btn-contact-us {
	background-image: linear-gradient(to right top, #b1a400, #c4b600, #d7c800, #ebda00, #ffed00);
	width: 300px;
    border: none;
    color: white;
	padding: 15px;
    text-align: center;
    font-size: 30px;
    margin: 50px 0 0 0;
	border-radius: 50px;
}
.btn-contact-us:hover {
	background: rgba(0,0,0,0);
	color: #ffed00;
	box-shadow: inset 0 0 0 3px #ffed00;
	transition: all 1s ease;
  }


.text-welcome-title + .text-welcome-subtitle {
    margin: 20px 0 0 0;
}

.page-welcome {
	background-image: url(./images/forest.jpg);
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	height: 65vh;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	display: flex;
}
	.welcome-inner-menu {
		display: flex;
		position: fixed;
    	width: 100vw;
		flex-flow: row wrap;
		justify-content: space-between;
		align-items: flex-end;
		padding: 0 100px 20px 100px;
		height: 7vh;
		border-bottom: 2px solid rgb(255 255 255 / 13%);
		transition: background .5s;
	}
		.welcome-menu-item:first-child {
			margin: 0 50px 0 0;
		}
		.welcome-menu-item:hover {
			opacity: 0.7;
		}
		.welcome-menu-item:after {
			color:#b1a400;
		}
	.welcome-inner-title {
		display: flex;
		padding: 0 84px 0 100px;
		flex-flow: row wrap;
		justify-content: space-between;
		align-content: center;
		height: 100vh;
	}
		.main-text {
			display: flex;
			flex-flow: column wrap;
		}
		.social-icons {
			display: flex;
			flex-flow: column wrap;
			line-height: 2;
		}


/*				  		*
 *		 ABOUT US  		*
 *				  		*
 *  			  		*/
.page-about-us {
	padding: 60px 0;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	align-items: center;
	height: 93vh;
}
	.text-about-us-title {
		color: #000000;
    	font-size: 40px;
    	letter-spacing: normal;
	}
/*				  		*
 *		CONTACT US  	*
 *				  		*
 *				  		*/
.page-contact-us {
	background-image: url(./images/mountains.jpg);
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	padding: 20px 0;
	height: 93vh;
	display: flex;
	flex-flow: column wrap;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	
}
	.text-contact-us-title {
		color: #000000;
    	font-size: 40px;
    	letter-spacing: normal;
	}
		.contact-form {
			-webkit-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
			-moz-box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
			box-shadow: 0px 0px 13px -2px rgba(0,0,0,0.75);
			background-color: #ffffff4d;
			padding: 40px 60px;
			display: flex;
			flex-flow: column wrap;
			align-items: center;
		}
		input[type=text], select {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			background: 0;
			width: 300px;
			padding: 12px 5px;
			margin: 8px 0;
			display: inline-block;
			border: 1px solid rgb(0, 0, 0);
			box-sizing: border-box;
		}
		#message {
			height: 200px;
		}
		input[type=submit] {
			font-family: 'Montserrat', sans-serif;
			font-weight: 400;
			width: 200px;
			background-image: linear-gradient(to right top, #b1a400, #c4b600, #d7c800, #ebda00, #ffed00);
			color: white;
			padding: 14px 20px;
			margin: 8px 0;
			border: none;
			border-radius: 50px;
			cursor: pointer;
		}
		input[type=submit]:hover {
			background-color: #00ff0d;
		}